.bold-and-underline {
    color: #11AA11;  
    text-decoration: black underline;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pokemon-card-class {
    position: relative;
    float:left;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 15%;
    border: 1px solid black;
    font-size: 20px;
}

#pokemon-list-header{
    background: #EECCBB;
    padding:10px;
}

#make-new-pokemon-div{
    background: #AACCBB;
    padding:10px;
}

#welcome{
    background: #FFEEBB;
    padding:10px;
}

#search-by-letter{
    background: #AAAAEE;
    padding:10px;
}

img{
    padding:15px;
}

button:hover{
    background: #00AAAA;
}

button {
    padding:3px;
    margin:3px;
}

.submit:hover{
    background: #00AAAA;
}

#show-all-pokemon{
    background: greenyellow;
    border:1px solid black;
    border-radius:5px;
}


#show-all-pokemon:hover{
    color:white;
    background: green;
    border:1px solid black;
    border-radius:5px;
}